{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" href="https://storage.yandexcloud.net/mark2/mm_logo.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>

<body>
    <div class="page-loader" id="page-loader">
    <div class="spinner">
      <div></div><div></div><div></div>
      <div></div><div></div><div></div>
    </div>
  </div>
    <header class="site-header">
    <div class="navbar">
        <a href="/" class="logo">
            <img src="https://storage.yandexcloud.net/mark2/mm_logo.svg" alt="FacadeArt" />
        </a>
        <nav>
            <ul class="nav-menu">
                <li class="menu-dropdown">
                    <button class="dropdown-btn">Каталог <span class="arrow">&#9662;</span></button>
                    <ul class="dropdown-content">
                        <li><a href="{% url 'kitchen' %}">Кухни</a></li>
                        <li><a href="{% url 'garders' %}">Гардеробные</a></li>
                        <li><a href="{% url 'bath' %}">Мебель для ванн</a></li>
                        <li><a href="{% url 'facades' %}">Фасады</a></li>
                        <li><a href="#">Дополнительные элементы</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Портфолио</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer class="site-footer">
    <div class="footer-menu">
        <ul class="footer-nav">
            <li class="footer-col">
                <span class="footer-title">Каталог</span>
                <ul class="footer-list">
                    <li><a href="{% url 'kitchen' %}">Кухни</a></li>
                    <li><a href="{% url 'garders' %}">Гардеробные</a></li>
                    <li><a href="{% url 'facades' %}">Фасады</a></li>
                    <li><a href="#">Дополнительные элементы</a></li>
                </ul>
            </li>
            <li class="footer-col"><a href="#">О нас</a></li>
            <li class="footer-col"><a href="#">Доставка и оплата</a></li>
            <li class="footer-col"><a href="#">Портфолио</a></li>
            <li class="footer-col"><a href="#">Акции</a></li>
            <li class="footer-col"><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </div>
    <div class="footer-social">
        <div class="social-icons">
  <a href="https://t.me/yourlink" target="_blank" title="Telegram">
    <i class="fab fa-telegram"></i>
  </a>
  <a href="https://vk.com/yourlink" target="_blank" title="VK">
    <i class="fab fa-vk"></i>
  </a>
  <a href="https://instagram.com/yourlink" target="_blank" title="Instagram">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://t.me/yourlink" target="_blank" title="WhatsApp">
    <i class="fab fa-whatsapp"></i>
  </a>
</div>
    </div>
</footer>
<button onclick="scrollToTop()" id="scrollTopBtn" title="Наверх">
    <i class="fas fa-arrow-up"></i>
</button>
<script src="{% static 'main/script.js' %}"></script>
</body>
</html>