{% extends "main/base.html" %}
{% block title %}Мебель для ванной комнаты{% endblock %}

{% block content %}
  <nav class="kitchen-nav" id="kitchenNav">
    <ul>
      <li><a href="{% url 'kitchen' %}">Кухни</a></li>
      <li><a href="{% url 'garders' %}">Гардеробные</a></li>
       <li class="active"><a href="{% url 'bath' %}">Мебель для ванной комнаты</a></li>
      <li><a href="{% url 'facades' %}">Фасады</a></li>
      <li><a href="{% url 'ready_products' %}">Готовые издеелия</a></li>
      <li><a href="{% url 'door' %}">Межкомнатные двери</a></li>
      <li><a href="#">Дополнительные элементы</a></li>
    </ul>
  </nav>
  <section class="cat-hero">
    <div class="cat-hero-bg" style="background-image: url('https://storage.yandexcloud.net/mark2/main_images/slide_bath.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
    <div class="cat-hero-content">
      <h1>Мебель для ванных комнат</h1>
<p>
  Создаём стильную и функциональную мебель для вашей ванной. <br>
  Эргономичные шкафы, современные материалы и аккуратная отделка помогут организовать пространство и подчеркнуть дизайн интерьера. <br>
  Индивидуальные решения для любых размеров и стилей ванной комнаты.
</p>
    </div>
  </section>
    <section class="gallery-intro">
    <div class="intro-content">
        <h2>Готовые проекты мебели для ванной комнаты</h2>
    </div>
  </section>
 <section class="kitchen-list-section">
    <div class="kitchen-list">
      {% for bath in baths %}
        <div class="kitchen-card">
          <div class="kitchen-card-image-wrapper">
            {% if bath.main_image %}
              <a class="kitchen-card-image-link" href="{% url 'bath_detail' bath.id %}">
                <img src="{{ bath.main_image }}" alt="Мебель для ванной {{ bath.title }}">
              </a>
            {% else %}
              <div class="no-photo">Нет фото</div>
            {% endif %}
          </div>
          <div class="kitchen-title">№ {{ bath.title }}</div>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endblock %}
