{% extends "main/base.html" %}
{% block title %}Контакты{% endblock %}

{% block content %}
<div class="contacts-hero">
    <div class="contacts-breadcrumbs">
        <a href="/" class="contacts-breadcrumbs-home">MPV</a>
        <span class="contacts-breadcrumbs-sep">/</span>
        <span>Контакты</span>
    </div>
    <h1 class="contacts-title">Контакты</h1>
</div>
<div style="position:relative;overflow:hidden;text-align: center;" >
  <a href="https://yandex.ru/maps/21630/lytkarino/?utm_medium=mapframe&utm_source=maps"
     style="color:#eee;font-size:12px;position:absolute;top:0px;">Лыткарино</a>
  <a href="https://yandex.ru/maps/21630/lytkarino/?from=mapframe&ll=37.941082%2C55.564632&mode=usermaps&source=mapframe&um=constructor%3A5dc74bb9f904f4da1963e17e6ffbf7f4953caab8f09a06b734722602495f104c&utm_medium=mapframe&utm_source=maps&z=15"
     style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a>
  <iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=37.941082%2C55.564632&mode=usermaps&source=mapframe&um=constructor%3A5dc74bb9f904f4da1963e17e6ffbf7f4953caab8f09a06b734722602495f104c&utm_source=mapframe&z=15"
          width="95%" height="500" frameborder="1" allowfullscreen="true" style="position:relative;border-radius:12px;"></iframe>
</div>
<div class="contacts-data-grid">
    <div class="contacts-data-col">
        <b>Адрес:</b><br>
        Россия , Московская область, г.Лыткарино,<br>
        промзона Тураево.
    </div>
    <div class="contacts-data-col">
        <b>Контакты:</b><br>
        <span class="contacts-phone" onclick="copyPhone()">
            +7 916 715 99 55<br>
            +7 985 431 77 70</span><br>
        <a class="contacts-mail" href="mailto:mm.mpv@mail.ru">mm.mpv@mail.ru</a> <br>
        <a class="contacts-mail" href="mailto:mm.mpv.g@mail.ru">mm.mpv.g@mail.ru</a>
    </div>
</div>
{% endblock %}