{% extends "main/base.html" %}
{% block title %}Фасад №{{ facade.title }} — Детали фасада{% endblock %}

{% block content %}
<div class="contacts-hero">
  <div class="contacts-breadcrumbs">
    <a href="/" class="contacts-breadcrumbs-home">Premier Fasad</a>
    <span class="contacts-breadcrumbs-sep">/</span>
    <a href="{% url 'facades' %}" class="contacts-breadcrumbs-home">Фасады</a>
    <span class="contacts-breadcrumbs-sep">/</span>
    <span>Фасад №{{ facade.title }}</span>
  </div>
</div>
<div class="facade-detail-card">
  <div class="facade-detail-flex">
    <div class="facade-detail-img-col">
      <img src="{{ facade.main_image }}" alt="{{ facade.title }}" class="facade-detail-img">
    </div>
    <div class="facade-detail-content">
      <div class="facade-detail-title">Варианты отделки фасада:</div>
      <div class="facade-detail-info">
        <div><b>Вид:</b> {{ facade.type }}</div>
        <div><b>Рамка:</b> {{ facade.frame }}</div>
        <div><b>Филёнка:</b> {{ facade.panel }}</div>
      </div>
      <button class="product-calc-btn" id="openCalcModal" type="button">Рассчитать стоимость</button>
    </div>
  </div>
</div>


<div class="modal-calc" id="calcModal" style="display:none;">
  <div class="modal-calc-content">
    <span class="modal-calc-close" id="closeCalcModal">&times;</span>
    <form id="calcForm" method="post">
      {% csrf_token %}
      <input type="hidden" name="product_name" value="{{ facade.title }}">
      <input type="hidden" name="product_url" value="{{ request.build_absolute_uri }}">
      <input type="hidden" name="product_type" value="Фасад">
      <input type="text" name="name" placeholder="Контактное лицо" required>
      <input type="email" name="email" placeholder="E-mail" required>
      <input type="tel" name="phone" placeholder="+7 (999) 999-99-99" required>
      <textarea name="message" placeholder="Ваше сообщение (не обязательно)"></textarea>
      <div class="file-drop-area" id="fileDropArea">
        <input type="file" name="attachment" id="attachment" class="file-input" />
        <span class="file-message" id="fileMsg">Перетащите файл сюда или кликните для выбора</span>
      </div>
      <div class="agreement-container">
          <div class="checkbox-container">
            <input type="checkbox" id="cbx" style="display: none;">
            <label for="cbx" class="check">
              <svg width="18px" height="18px" viewBox="0 0 18 18">
                <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                <polyline points="1 9 7 14 15 4"></polyline>
              </svg>
            </label>
          </div>
          <p class="agreement">
            Я даю свое согласие на обработку персональных данных и принимаю <a href="#" target="_blank">условия соглашения</a>
          </p>
        </div>
      <button type="submit" class="product-calc-btn">ОТПРАВИТЬ ЗАЯВКУ</button>
    </form>
  </div>
</div>
{% endblock %}