{% extends "main/base.html" %}
{% block title %}Главная страница{% endblock %}

{% block content %}
  <nav class="kitchen-nav" id="kitchenNav">
    <ul>
      <li><a href="{% url 'kitchen' %}">Кухни</a></li>
      <li class="active"><a href="{% url 'garders' %}">Гардеробные</a></li>
      <li><a href="{% url 'facades' %}">Фасады</a></li>
      <li><a href="#">Дополнительные элементы</a></li>
    </ul>
  </nav>
  <section class="cat-hero">
    <div class="cat-hero-bg"></div>
    <div class="cat-hero-content">
      <h1>Кухня</h1>
      <p>
        Ключевые особенности кухни – хороший дизайн и функциональность.<br>
        Помня об этом, представляем вам избранные проекты типовых кухонь, в которых<br>
        каждый найдёт <b>КУХНИ ДЛЯ СЕБЯ!</b>
      </p>
    </div>
  </section>
 <section class="kitchen-list-section">
    <div class="kitchen-list">
      {% for kitchen in kitchens %}
        <div class="kitchen-card">
          <div class="kitchen-card-image-wrapper">
            {% if kitchen.facade_image %}
              <a class="kitchen-card-image-link" href="{% url 'kitchen_detail' kitchen.id %}">
                <img src="{{ kitchen.facade_image }}" alt="Кухня {{ kitchen.name }}">
              </a>
            {% else %}
              <div class="no-photo">Нет фото</div>
            {% endif %}
          </div>
          <div class="kitchen-title">№ {{ kitchen.name }}</div>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endblock %}
