{% extends "main/base.html" %}
{% block title %}Готовые изделия{% endblock %}

{% block content %}
  <nav class="kitchen-nav" id="kitchenNav">
    <ul>
        <li><a href="{% url 'kitchen' %}">Кухни</a></li>
        <li><a href="{% url 'garders' %}">Гардеробные</a></li>
        <li><a href="{% url 'bath' %}">Мебель для ванной комнаты</a></li>
        <li><a href="{% url 'facades' %}">Фасады</a></li>
        <li><a href="{% url 'ready_products' %}">Готовые издеелия</a></li>
        <li class="active"><a href="{% url 'door' %}">Межкомнатные двери</a></li>
        <li><a href="#">Дополнительные элементы</a></li>
    </ul>
  </nav>
  {% endblock %}